*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin-top: 0;
}

body {
    margin: 0;
    font-size:var(--body-font-size);
    line-height: var(--body-line-height);
    font-weight: var(--body-font-weight);
    font-family: 'Poppins', sans-serif;
}